<div class="container">
    <h1>Edit Entry</h1>
    <%= render 'form' %>
</div>

<div class="card bg-secondary text-white">
  <div class="card-body" align="center">
    <%= button_to "Back", entries_path, :method => "get" %>
  </div>
</div>
